.line {
    border: none;
    border-top: 3px solid #64ffda;
    margin: 1em 0;
  }

h1, h2, h3, h4, h5 {
    color:#ccd6f6;
}

@media (max-width: 600px) {
    #navButtons {
      display: none;
    }
  }

#nameSize {
    font-size: 4em;
    font-family: "Calibre","Inter","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;
}

@media only screen and (max-width: 600px) {
#nameSize {
    font-size: 2rem;
    line-height: 1.1;
    }
}

@media only screen and (max-width: 400px) {
#nameSize {
    font-size: 1.5rem;
    line-height: 1;
    }
}

p, li {
    color: #8892b0;
    font-family: "SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace;
}

@media (max-width: 768px) {
    h1, p {
      font-size: 80%;
    }
  }

@media (max-width: 480px) {
h1, p {
    font-size: 60%;
}
}

#my-form {
    background-color: transparent;
    border: 2px solid #64ffda;
    border-radius: 10px;
}

#portfolioDivs {
    background-color: transparent;
    border: 2px solid #64ffda;
    border-radius: 10px;
}

#imgPortoflio {
    width: 60%;
    height: auto;
    object-fit: fit;
}

#imgFit {
    cursor: pointer;
    width: 100%;
    height: auto;
    object-fit: fit;
}

#mainPageBtn {
    background-color: transparent;
    border: 2px solid #64ffda;
    color: #64ffda;
    padding: 0.5em 1em;
    font-size: 0.8rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    max-width: 300px;
    border-radius: 10px;
    font-family: "SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace;
}

#mainPageBtn:hover {
    background-color: rgba(100, 255, 218, 0.2);
}

@media only screen and (min-width: 600px) {
    #mainPageBtn {
        font-size: 1rem;
        padding: 0.6em 1.2em;
    }
  }
  
  @media only screen and (min-width: 900px) {
    #mainPageBtn {
        font-size: 1.2rem;
        padding: 0.7em 1.4em; /* adjust the padding */
    }
  }
